<br>

<h6 size="30">Thank you for your valuable feedback. By providing us your feedback, you are helping us understand what we do well 
and what improvements we need to implement.</h6>
<br><br>
<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="inputName">Name:</label>
    <div class="controls">
      <input class="input-xxlarge" type="text" id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email:</label>
    <div class="controls">
      <input class="input-xxlarge" type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputMessage">Message:</label>
    <div class="controls">
      <textarea class="input-xxlarge" rows="5" placeholder="Your Feedback"></textarea>
    </div>
  </div>
<div class="control-group">
    <div class="controls">
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn">Reset</button>
    </div>
</div>
</form>

